*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#global {
    width: 50vw;
    height: 50vh;
    border: 1px solid aquamarine;
}

#meteo {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#choix {
    padding: 10%;
    width: 100%;
    height: 50%;
    background-color: cornsilk;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input{
    width: 50%;
}

#validation  {
    border: 1px solid crimson;
    width: 22%;
    padding: 2%;
}

#ville {
    text-transform: capitalize;
}

#separation {
    width: 10%;
}